config.log
config.mk
MANIFEST
log.txt
dist/
build/
doc/build/*
*.pyc 
**.pyc
*.swp
**.swp
**.cproject
**.tar.*
**__pycache__
**test-reports/
schemes/*.pyc
toolbox/*.pyc
.project
.pydevproject
toolbox/__pycache__
