include VERSION README INSTALL configure.sh Makefile
recursive-include param/ *.param
recursive-include tests/ *.py
recursive-include charm-src/ *.h *.c *.cc *.py *.sh
recursive-exclude schemes/ ake_ecmqv.py
prune build auto_batch
graft doc
graft doc/source
